body {
    margin: 0; /* Chrome adding margin around all sides */
}

.container {
    width: 550px;
    height: 500px;
    display: flex;
}

.left {
    align-self: left;
    width: 250px;
    height: 320px;
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #453A2E;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #665C4A;
}

.right {
   align-self: right;
   width: 250px;
   height: 320px;
   float: right;
   margin: 0 auto;
   margin-top: 10px;
   background-color: #453A2E;
   color: #F6FBF5;
   border-radius: 5px;
   padding-left: 2px;
   padding-right: 2px;
   box-shadow: 10px 10px 5px #665C4A;
}

.header {
    height: 50px;
    width: auto;
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #F6FBF5;
}

.inputs {
    display: inline-block;
}

.display {
    width: 220px;
    height: 30px;
    border: 2px solid #2E271F;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F6FBF5;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
}

.history {
    height: 310px;
    width: 230px;
    display: flex;
    justify-content: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.functionHistory {
    height: 300px;
    width: 280px;
    display: inline-block;
    overflow: hidden;
}

.function {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.totalHistory {
    height: 300px;
    width: 120px;
    display: inline-block;
    overflow: hidden;
}

.total {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.numRow {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.numberPad {
    width: 140px;
    height: 188px;
    display: inline-block;
    margin: 0 auto;
    margin-left: 5px;
    background-color: #302920;
    border-radius: 5px;
    border: none;
}

#blankBtn {
    background-color: #302920;
}

button {
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: none;
    color: #C9BFA5;
    outline: 0; /* Removes the focus outline from the button */
    /* Not ideal for accessibility? */
}

.numBtn {
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #665C4A;
}

button:hover {
    background-color: #524A3B;
}

button:active {
    background-color: #524A3B;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.numBtnDiv {
    margin: 2px;
}

.mathFunctionSelector {
    display: inline-block;
    width: 30px;
    height: 188px;
    margin: 0 auto;
    align-items: center;
    padding-top: 3px;
}

.funBtnDiv, .equalsBtnArea{
    margin: 2px;
}

.mathBtn, .equalsButton {
    height: 30px;
    width: 30px;
    background-color: #302920;
    font-size: 18px
}

.miscButtons {
    width: 54px;
    display: inline-block;
    font-size: 8px;
    margin: 0 auto;
    height: 188px;
    padding-top: 3px;
}

.backButton, .clearButton {
    height: 30px;
    width: 50px;
    margin: 2px;
    background-color: #302920;
}

.allInputs {
    display: flex;
    justify-content: center;
}